    body{
            font-family: 'Courier New', Courier, monospace;
            font-weight: 200;
            margin: 0;
            padding-left: 10px;
            background-color: rgb(8, 81, 6);
            color: lightcoral;
        }

        header{
            background: linear-gradient(to right, rgb(82, 40, 220), rgba(255, 255, 255, 0));
            color: wheat;
            text-align: center;
            padding: 20px;
        }

        .feat{
            background-color: aqua;
            padding: 20px;
            display: flex;
        }

        .animatedbox{
            width: 100px;
            height: 100px;
            margin: 0 auto;
            animation: bounce 2s infinite;
            border-radius: 50%;
            background-color: green;
        }

        @media (max-width: 768px){
            
        }